<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/minimal.css">
		</head>
		<body>
			
			<nav>
				<ul>
					<li><a href="http://go.qub.ac.uk/v4dbc">CV</a></li>
					<li><a href="https://goo.gl/ziFXpu">Publications</a></li>
					<li>Teaching</li>
					<li><a href="colleagues.html">Colleagues</a></li>
					<li>News</li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:placerda@qub.ac.uk">email</a></li>
	        		<li><a href="https://placerda-qub.github.io/">www</a></li>
				</ul>
			</footer>
		</body>
	</html>
